#title-label.Title_Label
{
     height: 20px;
     width: 20px;
     -unity-text-align: middle-left;
     font-size: 13px;
     padding-left: 0;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
     letter-spacing: 10px;
}

.Title_Icon
{
     left: 0px;
     top: 3px;
     height: 18px;
     width: 18px;
     margin: 0px;
     padding: 0px;
     align-self: center;
}

.Extension_Label
{
     color: darkgrey;
     height: 30px;
     width: 30px;
     font-size: 11px;
     -unity-text-align: middle-left;
     --unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
     letter-spacing: 10px;
     padding-left: 5px;
}

.port.output > #type.PortText_Out
{
     /*display: flex;*/
     font-size: 12px;
     --unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
}

.port.input > #type.PortText_In
{
     /*display: flex;*/
     font-size: 12px;
     --unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
}

.port.output.Port_Out
{
     width: auto;
     height: auto;
     /*margin-right: -25px;*/
}

.port.input.Port_In
{
     width: auto;
     height: auto;
     /*margin-left: -25px;*/
}

#contents > #top
{
     background-color: rgb(128, 128, 128);
}

#contents > #top > #input
{
     background-color: rgba(0, 0, 0, 0);
}

#contents > #top
{
     background-color: rgba(60, 60, 60, 0);
}

#node-border
{
     background-color: rgba(60, 60, 60, 0.95);
     min-width: 60px;
}

#title
{
     display: none;
     background-color: rgba(0, 0, 0, 0);
}

#divider.horizontal
{
     display: none;
}

#divider.vertical
{
     display: flex;
     height: auto;
     top: 0;
     width: 5px;
     background-color: rgba(255,255,255, 0);
     border-right-color: rgba(255,255,255, 0);
}

#contents > #top > #output
{
     background-color: rgba(0, 0, 0, 0);
}

.ExtensionContainer
{
     background-color: rgba(31, 31, 31, 0.95);
}

#node-border.node_nodeborder
{
     border-radius: 13px;
     overflow: visible;
}

#selection-border.node_selectionborder
{
     border-radius: 13px;
}

.InputEmptyCheck
{
     font-size: 10px;
     position: absolute;
     top: 6px;
     right: -20px;
     align-self: center;
     width: 18px;
     height: 18px;
}
