.scope.group.group_main
{
     background-color: transparent;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-left-width: 1px;
     border-right-width: 1px;
     border-top-width: 1px;
     border-bottom-width: 1px;
}

.mainContainer > #headerContainer > #titleContainer.groupTitleContainer
{
     /*margin-left: 25px;*/
     /*margin-right: 25px;*/
     margin-top: 0px;
     margin-bottom: 0px;
     padding-top: 6px;
     padding-bottom: 6px;
     width: 100%;
}

.mainContainer > #headerContainer > #titleContainer > #titleLabel.group_title
{
     font-size: 14px;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
     width: auto;
     -unity-text-align: middle-left;
}

.scope > .mainContainer > #centralContainer > #contentContainerPlaceholder.contentContainer
{
     padding-top: 15px;
     padding-right: 15px;
     padding-bottom: 15px;
     padding-left: 15px;
}

.Title_Icon
{
     left: 15px;
     top: 6px;
     height: 16px;
     width: 16px;
     margin-right: 30px;
     -unity-text-align: middle-left;
}

.scope > .mainContainer > #headerContainer.headcontainer
{
     flex-direction: row;
     padding: 0;
}

.group_highlighter
{
     position: absolute;
     width: 100%;
     height: 100%;
     border-top-width: 2px;
     border-bottom-width: 2px;
     border-left-width: 2px;
     border-right-width: 2px;
     border-left-color: rgba(255,255,255,1);
     border-right-color: rgba(255,255,255,1);
     border-top-color: rgba(255,255,255,1);
     border-bottom-color: rgba(255,255,255,1);
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     transition-property: opacity;
     transition-duration: 0.2s;
     transition-timing-function: ease-out-cubic;
}