.container
{
     flex-direction: column;
     width: 100%;
     color: rgb(255, 255, 255);
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     font-size: 12px;
     margin-top: 0;
     margin-right: 0;
     margin-bottom: 0;
     margin-left: 0;
     padding-top: 0;
     padding-right: 0;
     padding-bottom: 0;
     padding-left: 0;
     overflow: visible;
}

.titlegroup
{
     flex-direction: row;
     align-items: center;
     width: 100%;
     height: auto;
     margin-top: 0;
     margin-right: 0;
     margin-bottom: 5px;
     margin-left: 0;
     padding-top: 10px;
     padding-right: 5px;
     padding-bottom: 15px;
     padding-left: 0;
     border-bottom-width: 1px;
     border-bottom-color: rgba(255, 255, 255, 0.2);
}

.titlename
{
     color: rgba(255, 255, 255, 0.85);
     height: 10px;
     width: 30px;
     font-size: 15px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
     letter-spacing: 5px;
     padding-left: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 0;
     margin-bottom: 0;
     margin-left: 10px;
}

.titlemark
{
     color: rgba(255, 255, 255, 0.85);
     height: 18px;
     width: 4px;
     left: 1px;
     letter-spacing: 5px;
     padding-left: 0;
     padding-top: 0;
     margin-top: 0;
     margin-left: 0;
     margin-right: 10px;
}

.titleicon
{
     color: rgba(255, 255, 255, 0.85);
     height: 18px;
     width: 18px;
     letter-spacing: 5px;
     padding-left: 0;
     padding-top: 0;
     margin-top: 0;
     margin-left: 0;
}

.type
{
     position: absolute;
     right: 0;
     top: 12px;
     color: rgb(0, 0, 0);
     height: 15px;
     width: 65px;
     font-size: 11px;
     -unity-text-align: middle-center;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
     letter-spacing: 5px;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 0;
     padding-bottom: 0;
     /*margin-top: 0;*/
     margin-bottom: 0;
     margin-left: 0;
     margin-right: 6px;
     align-self: flex-start;
     background-color: rgba(255, 255, 255, 0.85);
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
     border-bottom-left-radius: 6px;
}

.description
{
     position: relative;
     color: rgba(255, 255, 255, 0.55);
     height: 25px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: bold;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 5px;
     padding-left: 0;
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 0;
     margin-top: 0;
     margin-bottom: 5px;
     margin-left: 0;
     margin-right: 0;
     overflow: hidden;
     text-overflow: ellipsis;
}

.labeltext
{
     position: relative;
     color: rgba(255, 255, 255, 0.8);
     height: 25px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: bold;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 5px;
     padding-left: 0;
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
     overflow: hidden;
     text-overflow: ellipsis;
}

.field_object
{
     position: relative;
     color: rgba(255, 255, 255, 0.35);
     height: 20px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 2px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
}

.field_text
{
     position: relative;
     color: rgba(255, 255, 255, 0.35);
     height: 20px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 2px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
}

.unity-base-field__label
{
     min-width: 80px;
     font-size: 11px;
     letter-spacing: 8px;
     -unity-font-style: bold;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
}

.field_vector2
{
     position: relative;
     color: rgba(255, 255, 255, 0.35);
     height: 20px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 2px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
}

.field_vector3
{
     position: relative;
     color: rgba(255, 255, 255, 0.35);
     height: 20px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 2px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
}

.field_vector4
{
     position: relative;
     color: rgba(255, 255, 255, 0.35);
     height: 20px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 2px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
}

.unity-composite-field__field-spacer
{
     display: none;
}

.field_color
{
     position: relative;
     color: rgba(255, 255, 255, 0.35);
     height: 20px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 2px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
}

.field_float
{
     position: relative;
     color: rgba(255, 255, 255, 0.35);
     height: 20px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 2px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
}

.field_int
{
     position: relative;
     color: rgba(255, 255, 255, 0.35);
     height: 20px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 2px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
}

.field_bool
{
     position: relative;
     color: rgba(255, 255, 255, 0.35);
     height: 20px;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 2px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 0;
     margin-right: 0;
}

.labelnode_field_color
{
     position: absolute;
     top: 10px;
     right: 0;
     height: 15px;
     width: 105px;
}

.labelnode_field_color_labelinterval
{
     min-width: 40px;
}

.texture_bg
{
     margin-top: 15px;
     align-self: center;
     width: 95%;
     height: 200px;
     background-size: contain;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     background-repeat: repeat;
     background-size: 20px 20px;
     background-position-x: 8.5px;
     -unity-background-image-tint-color: rgba(255, 255, 255, 0.3);
     border-radius: 10px 10px 10px 10px;
}

.texture
{
     top: 15px;
     opacity: 0;
     align-self: center;
     width: 100%;
     height: 100%;
     background-size: contain;
     transition-property: top,opacity;
     transition-duration: 0.4s,0.4s;
     transition-timing-function: ease-out-cubic,ease-out-cubic;
     transition-delay: 0s,0.05s;
}

.texture_floated
{
     top: 0;
     opacity: 1;
}

.iconbutton
{
     position: absolute;
     right: 0;
     top: 9px;
     width: 18px;
     height: 18px;
     background-image: url("project://database/Assets/SevenStrikeModules/XGraph/GUI/Icons/path.png?fileID=2800000&guid=7dac6f433e8529f43934b89de7a1d1c1&type=3#path");
     background-color: rgba(255, 255, 255, 0);
     -unity-background-image-tint-color: rgba(255, 255, 255, 0.3);
     border-left-color: rgba(255, 255, 255, 0);
     border-right-color: rgba(255, 255, 255, 0);
     border-top-color: rgba(255, 255, 255, 0);
     border-bottom-color: rgba(255, 255, 255, 0);
     transition-property: -unity-background-image-tint-color;
     transition-duration: 0.2s;
     transition-timing-function: ease-out-cubic;
}

.iconbutton:hover
{
     -unity-background-image-tint-color: rgb(255, 255, 255);
}

.iconbutton:active
{
     -unity-background-image-tint-color: rgba(255, 255, 255, 0.5);
}

.connector_group
{
     width: 100%;
     height: auto;
     flex-direction: row;
     margin-top: 15px;
}

.connector_icon
{
     align-self: center;
     width: 30px;
     height: 30px;
     margin-left: 5px;
     margin-right: 5px;
}

.connector_node
{
     align-self: center;
     width: 30px;
     height: auto;
     flex-grow: 1;
     -unity-text-align: middle-center;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
     border-bottom-left-radius: 6px;
     border-left-color: rgba(255, 255, 255, 0.2);
     border-right-color: rgba(255, 255, 255, 0.2);
     border-top-color: rgba(255, 255, 255, 0.2);
     border-bottom-color: rgba(255, 255, 255, 0.2);
     border-left-width: 1px;
     border-right-width: 1px;
     border-top-width: 1px;
     border-bottom-width: 1px;
}

.connector_node_type
{
     position: relative;
     right: 5px;
     bottom: 0px;
     align-self: flex-end;
     color: rgba(255, 255, 255, 1);
     height: 15px;
     width: 90px;
     font-size: 12px;
     -unity-text-align: middle-center;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     letter-spacing: 15px;
     padding-left: 25px;
     padding-right: 25px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-bottom: 5px;
     margin-top: 10px;
     background-color: rgba(0, 0, 0, 0.25);
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
     border-bottom-left-radius: 6px;
}

.connector_node_icon
{
     width: 25px;
     height: 25px;
     top: 8px;
     left: 8px;
     margin-bottom: 15px;
}

.connector_col_dot
{
     position: absolute;
     width: 4px;
     height: 4px;
     top: 10px;
     right: 10px;
}

.connector_node_name
{
     position: absolute;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 70%;
     height: 25px;
     top: 8px;
     left: 45px;
     padding-right: 30px;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
}

.actionNodeAvatar
{
     position: absolute;
     width: 200px;
     height: 200px;
     right: 0;
     bottom: 0;
}

.foldout
{
     position: relative;
     color: rgba(255, 255, 255, 0.8);
     height: auto;
     width: auto;
     font-size: 12px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
     letter-spacing: 2px;
     left: 0px;
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: -5px;
     margin-right: 0;
}

.VariableConnector_container
{
     width: auto;
     height: auto;
     background-color: rgba(30,30,30,0.4);
     margin-top: 2px;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     overflow: hidden;
     padding-bottom: 8px;
}

.VariableConnector_container_title
{
     flex-direction: row;
     width: auto;
     height: 28px;
     background-color: rgba(30, 30, 30, 1);
     padding-left: 10px;
     padding-right: 10px;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     align-items: center;
     margin-bottom: 5px;
}

.VariableConnector_Icon
{
     width: 14px;
     height: 14px;
     top: 0px;
     margin-right: 10px;
}

.VariableConnector_VareName
{
     width: auto;
     height: 15px;
     font-size: 12px;
     -unity-text-align: middle-center;
     -unity-font-style: normal;
     padding-top: 0px;
     padding-bottom: 0px;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
}

.VariableConnector_Label
{
     width: auto;
     height: 15px;
     padding-top: 0px;
     padding-left: 11px;
     padding-right: 11px;
     padding-bottom: 0px;
     margin-top: 5px;
     margin-bottom: 5px;
     font-size: 11px;
     -unity-text-align: middle-left;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     overflow: hidden;
     text-overflow: ellipsis;
     letter-spacing: 5px;
     /*     color: #d9d9d9;*/
}

.VariableConnector_Type
{
     position: absolute;
     right: 0;
     top: 6.5px;
     color: rgb(0, 0, 0);
     height: 15px;
     width: 65px;
     font-size: 10px;
     -unity-text-align: middle-center;
     -unity-font-style: normal;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
     letter-spacing: 5px;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 0;
     padding-bottom: 0;
     /*margin-top: 0;*/
     margin-bottom: 0;
     margin-left: 0;
     margin-right: 6px;
     align-self: flex-start;
     background-color: rgba(255, 255, 255, 0.75);
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
     border-bottom-left-radius: 6px;
}

.VariableConnector_Value
{
     position: absolute;
     right: 12px;
     top: 32px;
     width: 100%;
     /*     background-color: black;*/
     flex-shrink: 1;
     padding-left: 55%;
     height: 15px;
     padding-top: 0px;
     padding-bottom: 0px;
     margin-top: 5px;
     margin-bottom: 5px;
     font-size: 11px;
     -unity-text-align: middle-right;
     -unity-font-style: bold;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     overflow: hidden;
     text-overflow: ellipsis;
     color: #b5b5b5;
}
