.unity-base-text-field.Title_TextField {
    display: none;
    position: relative;
    height: 25px;
    width: auto;
    font-size: 13px;
    -unity-font-style: normal;
    -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
    padding-left: 0;
    padding-top: 1px;
    letter-spacing: 6px;
    top: 4px;
    left: 12px;
    -unity-text-align: middle-left;
    margin-right: 15px;
    flex-grow: 1;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: rgb(136, 136, 136);
    border-bottom-color: rgb(136, 136, 136);
    border-left-color: rgb(136, 136, 136);
    border-right-color: rgb(136, 136, 136);
    border-radius: 5px 5px 5px 5px;
}

.unity-text-element.Title_Label {
    position: relative;
    font-size: 15px;
    height: 20px;
    width: auto;
    -unity-font-style: normal;
    -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
    padding-left: 0;
    letter-spacing: 6px;
    top: 6px;
    left: 20px;
    -unity-text-align: middle-left;
    margin-right: 15px;
    flex-grow: 1;
}

.Title_TextInput {
    -unity-text-align: middle-left;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
}

.Title_TextElement {
    -unity-text-align: middle-left;
    font-size: 12px;
    -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
}

.Title_Icon {
    left: 10px;
    top: 8px;
    height: 18px;
    width: 18px;
    margin-right: 0;
    -unity-text-align: middle-left;
}

#collapsible-area {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.Avatar_Icon {
    position: absolute;
    top: -50px;
    right: 0;
    height: 60px;
    width: 60px;
    background-color: transparent;
    -unity-text-align: middle-left;
}

.Seperate_Icon {
    left: -9px;
    top: -2px;
    height: 18px;
    width: 18px;
    -unity-text-align: middle-center;
}

.Extension_Label {
    color: darkgrey;
    height: 10px;
    width: 30px;
    font-size: 11px;
    -unity-text-align: middle-left;
    --unity-font-style: normal;
    -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Heavy.ttf?fileID=12800000&guid=72f2755737ddb2545a774f68d54027aa&type=3#x_Heavy");
    letter-spacing: 10px;
    padding-left: 5px;
}

.port.output > #type.PortText_Out {
    font-size: 14px;
    --unity-font-style: normal;
    -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
    margin-right: 18px;
}

.port.input > #type.PortText_In {
    font-size: 14px;
    --unity-font-style: normal;
    -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
    margin-left: 18px;
}

.port.output.Port_Out {
    width: auto;
    height: 35px;
    margin-right: -25px;
}

.port.input.Port_In {
    width: auto;
    height: 35px;
    margin-left: -25px;
}

#contents > #top {
    background-color: rgb(128, 128, 128);
}

#contents > #top > #input {
    background-color: rgba(0, 0, 0, 0);
}

#contents > #top {
    background-color: rgba(0, 0, 0, 0);
}

#node-border {
    background-color: rgba(60, 60, 60, 0.95);
    min-width: 160px;
}

#title {
    background-color: rgba(0, 0, 0, 0);
}

#divider.horizontal {
    display: none;
}

#divider.vertical {
    display: flex;
    height: 10px;
    top: 40%;
    background-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
}

#contents > #top > #output {
    background-color: rgba(0, 0, 0, 0);
}

.ExtensionContainer {
    background-color: rgba(31, 31, 31, 0.95);
}
