.TitleName {
    font-size: 20px;
    -unity-font-style: normal;
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
    height: 100%;
    -unity-text-align: middle-left;
}

.WarnName {
    font-size: 20px;
    -unity-font-style: normal;
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
    height: 100%;
    -unity-text-align: middle-left;
}
