#node-border
{
     margin: 0;
     border-left-color: rgba(0, 0, 0,0);
     border-right-color: rgba(0, 0, 0,0);
     border-top-color: rgba(0, 0, 0,0);
     border-bottom-color: rgba(0, 0, 0,0);
}

.resizer-icon
{
     right: 10px;
     bottom: 10px;
     background-image: url("project://database/Assets/SevenStrikeModules/XGraph/GUI/Icons/resize.png?fileID=2800000&guid=7ee37ab7fc61a8a43bfae9fed2cb81cf&type=3#resize");
     background-size: 100% 100%;
     -unity-background-image-tint-color: rgba(74, 74, 74, 0.82);
     background-color: rgba(0, 0, 0, 0);
     width: 50%;
     height: 50%;
     position: absolute;
}

.MainContainer
{
     width: 100%;
     height: 100%;
     margin-left: 0;
     background-color: rgba(0, 0, 0, 0);
     background-image: none;
     -unity-slice-left: 0;
     -unity-slice-top: 0;
     -unity-slice-right: 0;
     -unity-slice-bottom: 0;
}

#DecalControlContainer
{
     position: absolute;
     width: auto;
     height: auto;
     flex-direction: row-reverse;
     align-self: flex-end;
     transition-property: opacity,top;
     transition-duration: 0.3s,0.3s;
     transition-timing-function: ease-out-cubic,ease-out-cubic;
     transition-delay: 0.1s,0s;
}

.DecalTexture
{
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-size: contain;
     background-color: rgba(0, 0, 0, 0);
     border-left-color: rgba(200, 200, 200,0.2);
     border-right-color: rgba(200, 200, 200,0.2);
     border-top-color: rgba(200, 200, 200,0.2);
     border-bottom-color: rgba(200, 200, 200,0.2);
     border-radius: 8px 8px 8px 8px;
}

.button
{
     width: 20px;
     height: 20px;
     background-color: transparent;
     border-color: transparent;
     overflow: visible;
}

.button:hover
{
     -unity-background-image-tint-color: rgb(128, 128, 128);
}

.button:active
{
     -unity-background-image-tint-color: white;
}

.Decal_highlighter
{
     position: absolute;
     width: 100%;
     height: 100%;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     transition-property: opacity;
     transition-duration: 0.3s;
     transition-timing-function: ease-out-cubic;
}
