.mind_label
{
     height: 20px;
     width: auto;
     color: rgba(255, 255, 255, 0.7);
     font-size: 13px;
     -unity-font-definition: url("project://database/Assets/SevenStrikeModules/XGraph/Fonts/x_Regular.ttf?fileID=12800000&guid=7e75af13bdd075345ab6bcc4962b42c2&type=3#x_Regular");
     text-overflow: ellipsis;
     margin-bottom: 15px;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 5px;
     overflow: hidden;
     -unity-text-align: upper-left;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: normal;
     flex-shrink: 1;
     flex-grow: 1;
}

#extension
{
     height: 100%;
}

.NodeCointainer
{
     min-height: 110px;
     min-width: 150px;
     overflow: visible;
}

#title-button-container
{
     display: none;
}

#node-border
{
     background-color: rgba(60, 60, 60, 0.95);
     height: 100%;
     min-height: auto;
     min-width: auto;
}

#collapsible-area
{
     flex-grow: 1;
     flex-shrink: 1;
     height: 100%;
}

#title
{
     flex-grow: 0;
     flex-shrink: 0;
     background-color: rgba(0, 0, 0, 0);
     height: 35px;
}

.port.output.Port_Out
{
     height: 20px;
}

.port.input.Port_In
{
     height: 20px;
}

.resizer-icon
{
     right: 10px;
     bottom: 10px;
     background-image: url("project://database/Assets/SevenStrikeModules/XGraph/GUI/Icons/resize.png?fileID=2800000&guid=7ee37ab7fc61a8a43bfae9fed2cb81cf&type=3#resize");
     background-size: 100% 100%;
     -unity-background-image-tint-color: rgb(255, 255, 255);
     background-color: rgba(0, 0, 0, 0);
     width: 50%;
     height: 50%;
     position: absolute;
}
